body {
  font-family: Arial;
  text-align: center;
}

.calculator {
  width: 250px;
  margin: auto;
}

#result {
  width: 100%;
  height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: right;
}

.buttons button {
  width: 50px;
  height: 40px;
  margin: 3px;
  font-size: 16px;
}
