body {
  font-family: Arial;
  margin: 0;
  text-align: center;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 40px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
}
