body {
  font-family: Arial;
  margin: 0;
  text-align: center;
}

header {
  background-color: #2196F3;
  color: white;
  padding: 40px;
}

section {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
}
